{#
/**
 * @file feedback_entity.html.twig
 * Default theme implementation to present Feedback data.
 *
 * This template is used when viewing Feedback pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_feedback_entity()
 *
 * @ingroup themeable
 */
#}
{#{{ dump(content.created|keys) }}#}
{{ attach_library('yuraul/feedback') }}
<article{{ attributes.addClass('feedback-entity') }}>
  {% if content %}
    <aside class="user-info">
      <h3 class="username">{{ content.name }}</h3>
      <div class="avatar-container">
        {{ content.avatar }}
      </div>
      <ul>
        <li class="usermail">{{ content.email }}</li>
        <li class="userphone">{{ content.phone }}</li>
      </ul>
    </aside>
    <div class="post-message">
      <div class="post-header">
        {{ content.created }}
        <span> by&nbsp;</span>
        {{ content.name }}
      </div>
      <div class="post-body">
        <p>{{ content.message }}</p>
        {% if not content.picture %}
          <p class="attached">Attached image:</p>
          {{ content.picture }}
        {% endif %}
      </div>
    </div>
  {% endif %}
</article>
