{# Attaching syles for the markup #}
{{ attach_library('yuraul/form') }}

{# Some fields necessary to form work properly. #}
{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}
{{ form.langcode }}

{# Hidden fields anonymous user not allowed to edit. #}
{{ form.created }}
{{ form.status }}

{# Base markup #}
<fieldset>
  <legend>Add feedback</legend>
  {{ form.system_messages }}
  <div class="form-upper">
    <div class="form-upper-left">
      {{ form.name }}
      {{ form.email }}
      {{ form.phone }}
    </div>
    <div class="form-upper-right">
      {{ form.avatar }}
    </div>
  </div>
  <div class="form-lower">
    {{ form.message }}
    {{ form.picture }}
  </div>
  <div class="form-act">
    {{ form.actions }}
  </div>
</fieldset>

